# Node.js specific
node_modules/
npm-debug.log*
yarn-error.log*

# OS specific
.DS_Store
Thumbs.db

# Editor specific
.vscode

# Testing
coverage/
test/

# Production
dist/
build/

# Secrets
.env
.env.*

# Other
*.log
*.pid